{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
	<div class="outside container-fluid">
		<div class="page-header">
			<h1>Museum of Rad <small>It's just toys</small></h1>
		</div>
		<div id="body-content center-block">
			<div class="body-block">
				<h3>What's up romp dawgies.</h3>
				<p class="lead">This is my compendium of messarounds: A collection of
				half-working toys whose source may be of interest to others learning the tricks of the web 
				trade.</p>
			</div>
			<div class="body-block">
				<p>Check out the nav bar and see what's what! I'll be adding more as I make more.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}